<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <p class="Heading1">Help Topic</p>
      
        </div>
        <div class="col-lg-2">
            <p class="Heading" style="float: right;">Count : 1</p>

        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-lg-1">
                <p>Filter By</p>
            </div>
            <div class="col-lg-3">
              <input type="date" class="form-control">
            </div>
            <div class="col-lg-4">
             <input type="search" class="form-control" placeholder="search...">
            </div>
        </div> 
    </div><br>
    <div class="row">
        <div class="col-lg-10 ">         
        </div>
        <!-- <div class="col-lg-2">
            <button class="EditBTN" data-toggle="modal" data-target="#exampleModal">Assign All</button>
        </div> -->
        <div class="col-lg-2">
            <button class="EditBTN" routerLink="/CustomerReport">Add</button>
        </div>
    </div> <br>


        <div class="row" >
            <div class="col-lg-12">
                <table class="table" id="download">
                    <thead>
                      
                            <th>Help Ttle</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Auto Response</th>
                            <th>Department</th>
                            <th>Priority</th>
                            <th>Last Updated</th>
                            <th>Attachment</th>
                            <th>Link</th>
                            <th style="padding-left: 47px;">Actions</th>
                        <tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>Billing</td>
                          <td>Billing</td>
                          <td>Active</td>
                          <td>Yes</td>
                          <td>Billing</td>
                         <th>High</th>
                         <td>7-April-2022 11.20 AM</td>
                         <td><img src="assets/Images/antena.jpg" width="70%" height="auto"></td>
                         <td>https://amazeinc-helpdesk.freshdesk.com/a/dashboard/sample</td>
                          <td> <button class="EditBTN" data-toggle="modal" data-target="#exampleModal">Edit</button><br><br>
                            <button class="DeleteBTN" >Delete</button>
                        </td>
                      </tr>
                      <tr>
                        <td>Maintanance</td>
                        <td>Maintanance</td>
                        <td>Active</td>
                        <td>Yes</td>
                          <td>Support</td>
                         <th>High</th>
                         <td>7-April-2022 11.20 AM</td>
                         <td><img src="assets/Images/antena.jpg" width="70%" height="auto"></td>
                         <td>https://amazeinc-helpdesk.freshdesk.com/a/dashboard/sample</td>
                        <td> <button class="EditBTN" data-toggle="modal" data-target="#exampleModal">Edit</button><br><br>
                          <button class="DeleteBTN" >Delete</button>
                      </td>
                    </tr>
                    <tr>
                        <td>Support</td>
                        <td>Support</td>
                        <td>Active</td>
                        <td>Yes</td>
                     
                          <td>Support</td>
                         <th>High</th>
                         <td>7-April-2022 11.20 AM</td>
                         <td><img src="assets/Images/antena.jpg" width="70%" height="auto"></td>
                         <td>https://amazeinc-helpdesk.freshdesk.com/a/dashboard/sample</td>
                        <td> <button class="EditBTN" data-toggle="modal" data-target="#exampleModal">Edit</button><br><br>
                          <button class="DeleteBTN" >Delete</button>
                      </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
</div>

