<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <p class="Heading1">Help Topic</p>
      
        </div>
        <div class="col-lg-2">
            <p class="Heading" style="float: right;">Count : 3</p>

        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-lg-1">
                <p>Filter By</p>
            </div>
            <div class="col-lg-3">
              <input type="date" class="form-control">
            </div>
            <div class="col-lg-3">
                <select  class="form-control">
                    <option>Select Department</option>
                    <option>Billing</option>
                    <option>Support</option>
                    <option>Matainence</option>
                </select>
               </div>
            <div class="col-lg-4">
             <input type="search" class="form-control" placeholder="search...">
            </div>
        </div> 
    </div><br>
    <div class="row">
        <div class="col-lg-10 ">         
        </div>
        <!-- <div class="col-lg-2">
            <button class="EditBTN" data-toggle="modal" data-target="#exampleModal">Assign All</button>
        </div> -->
        <div class="col-lg-2">
            <button class="EditBTN" routerLink="/CustomerReport">Add</button>
        </div>
    </div> <br>


        <div class="row" >
            <div class="col-lg-12">
                <table class="table" id="download">
                    <thead>
                      
                            <th>Help Ttle</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Auto Response</th>
                            <th>Department</th>
                           
                            <th>Last Updated</th>
                            <th style="width: 150px;">Attachment</th>
                            <th>Link</th>
                            <th style="padding-left: 47px;">Actions</th>
                        <tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>Billing</td>
                          <td>Billing</td>
                          <td>Active</td>
                          <td>Yes</td>
                          <td>Billing</td>
                       
                         <td>7-April-2022 11.20 AM</td>
                         <td ><img src="assets/Images/antena.jpg" width="40%" height="auto"></td>
                         <td><a href="https://amazeinc-helpdesk.freshdesk.com/a/dashboard/sample">https://amazeinc-helpdesk.freshdesk.com/a/dashboard/sample</a></td>
                         <td>
                            <label class="switch"><input type="checkbox" checked=""><span
                                    class="slider round"></span></label>
                        </td>
                      </tr>
                      <tr>
                        <td>Maintanance</td>
                        <td>Maintanance</td>
                        <td>Active</td>
                        <td>Yes</td>
                          <td>Support</td>
                        
                         <td>7-April-2022 11.20 AM</td>
                         <td><img src="assets/Images/antena.jpg" width="40%" height="auto"></td>
                         <td><a href="https://amazeinc-helpdesk.freshdesk.com/a/dashboard/sample">https://amazeinc-helpdesk.freshdesk.com/a/dashboard/sample</a></td>
                         <td>
                            <label class="switch"><input type="checkbox" checked=""><span
                                    class="slider round"></span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>Support</td>
                        <td>Support</td>
                        <td>Active</td>
                        <td>Yes</td>
                     
                          <td>Support</td>
                       
                         <td>7-April-2022 11.20 AM</td>
                         <td><img src="assets/Images/antena.jpg" width="40%" height="auto"></td>
                         <td><a href="https://amazeinc-helpdesk.freshdesk.com/a/dashboard/sample">https://amazeinc-helpdesk.freshdesk.com/a/dashboard/sample</a></td>
                         <td>
                            <label class="switch"><input type="checkbox" checked=""><span
                                    class="slider round"></span></label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
</div>

