<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <div class="card" >
                <div class="card-body">
                    <p class="card-text">Open</p>
                    <p class="card-text text">122</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" >
                <div class="card-body">
                    <p class="card-text">Unresolved</p>
                    <p class="card-text text" >22</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" >
                <div class="card-body">
                    <p class="card-text">Resolved</p>
                    <p class="card-text text">4</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Assigned</p>
                    <p class="card-text text" >10</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Overdue</p>
                    <p class="card-text text">4</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">On Hold</p>
                    <p class="card-text text">2</p>
                </div>
            </div>
        </div>
    </div>
    <br>
     <div class="row">
        <div class=" col-lg-8">
            <img src="assets/Images/chartImg.png" width="100%">
            <!-- <div>
                <div style="display: block">
                  <canvas baseChart
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"></canvas>
                </div>
              </div> -->
        </div>
        <div class=" col-lg-4">
            <div class="card" ><br>
                <div class="card-body">
                    <p class="card-text">Received : <span class="card-text text" >100</span> </p>
                    <p class="card-text">Average First Response Time :<span class="card-text text" >12min</span> </p>
                   
                    <p class="card-text">Average Response Time : <span class="card-text text" >22min 12s</span></p>
                    
                    <p class="card-text">Resolution within SLA : <span class="card-text text" >90%</span> </p>
                    <br>
                   
                </div>
            </div>
        </div>
        
    </div><br>
   
</div>

