<div class="row" *ngIf="temp=='1'">
    <button data-mdb-toggle="sidenav" data-mdb-target="#sidenav-1" class="btn btn-primary" aria-controls="#sidenav-1"
        aria-haspopup="true">
        <i class="fas fa-bars"></i>
    </button>
    <div class="col-md-2 sidenav" style="height: 94vh;margin-top: 75px;position: fixed;overflow-y: scroll;">


        <a (click)="CompanySetup()" *ngIf="roleid=='1'" (click)="highlight($event)">
            <img src="assets/Images/64/Attendance Report.png"
                [ngClass]="active != 94 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <img src="assets/Images/64 Blue/Attendance Report.png"
                [ngClass]="active == 94 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <span [ngClass]="active == 94 ? 'Active1' : 'Active3'"> Company Setup </span>
        </a>

        <a (click)="StaffSetup()" *ngIf="roleid=='1'" (click)="highlight($event)">
            <img src="assets/Images/64/Staff.png"
                [ngClass]="active != 95 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <img src="assets/Images/64 Blue/Staff.png"
                [ngClass]="active == 95 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <span [ngClass]="active == 95 ? 'Active1' : 'Active3'">Staff Setup </span>
        </a>

        <a (click)="customerreport()" *ngIf="roleid=='1'" (click)="highlight($event)">
            <img src="assets/Images/64/Anoncement.png"
                [ngClass]="active != 96 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <img src="assets/Images/64/Anoncement.png"
                [ngClass]="active == 96 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <span [ngClass]="active == 96 ? 'Active1' : 'Active3'"> Import Installation Data</span>
        </a>

        <a (click)="NewInstallation()" *ngIf="roleid=='2'" (click)="highlight($event)">
            <img src="assets/Images/64/leaves.png"
                [ngClass]="active != 97 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <img src="assets/Images/64 Blue/leaves.png"
                [ngClass]="active == 97 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <span [ngClass]="active == 97 ? 'Active1' : 'Active3'">New Installation</span>
        </a>
        <a (click)="dailyReports()" (click)="highlight($event)">
            <img src="assets/Images/64/Attendance Report.png"
                [ngClass]="active != 99 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <img src="assets/Images/64 Blue/Attendance Report.png"
                [ngClass]="active == 99 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <span [ngClass]="active == 99 ? 'Active1' : 'Active3'">Installations Report</span>
        </a>
        <a (click)="CustomerIssues()" *ngIf="roleid=='2'" (click)="highlight($event)">
            <img src="assets/Images/64/leave.png"
                [ngClass]="active != 98 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <img src="assets/Images/64 Blue/leave.png"
                [ngClass]="active == 98 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <span [ngClass]="active == 98 ? 'Active1' : 'Active3'">Pending Issues</span>
        </a>
        <a (click)="CustomerIssues()" *ngIf="roleid=='1'" (click)="highlight($event)">
            <img src="assets/Images/64/leave.png"
                [ngClass]="active != 98 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <img src="assets/Images/64 Blue/leave.png"
                [ngClass]="active == 98 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <span [ngClass]="active == 98 ? 'Active1' : 'Active3'">Issues Report</span>
        </a>
        <!-- <a (click)="completed()" (click)="highlight($event)"  *ngIf="roleid=='2'">
            <img src="assets/Images/64/Attendance Report.png"
                [ngClass]="active != 101 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <img src="assets/Images/64 Blue/Attendance Report.png"
                [ngClass]="active == 101 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <span [ngClass]="active == 101 ? 'Active1' : 'Active3'">Completed Issues</span>
        </a> -->

        <a (click)="ReturnEquipment()"  (click)="highlight($event)">
            <img src="assets/Images/64/Attendance Report.png"
                [ngClass]="active != 100 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <img src="assets/Images/64 Blue/Attendance Report.png"
                [ngClass]="active == 100 ? 'Active1' : 'Active2'" style="width: 13%;  margin-right: 17px;" />
            <span [ngClass]="active == 100 ? 'Active1' : 'Active3'">Return Equipments</span>
        </a>

      

      
    </div>
</div>