<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <p class="Heading1">Premade Replies</p>
      
        </div>
        <div class="col-lg-2">
            <p class="Heading" style="float: right;">Count : 3</p>

        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-lg-1">
                <p>Filter By</p>
            </div>
            <div class="col-lg-3">
              <input type="date" class="form-control">
            </div>
            <div class="col-lg-3">
               <select  class="form-control">
                   <option>Select Category</option>
                   <option>All Department</option>
                   <option>Support</option>
                   <option>Matainence</option>
               </select>
              </div>
            <div class="col-lg-4">
             <input type="search" class="form-control" placeholder="search...">
            </div>
        </div> 
    </div><br>
    <div class="row">
        <div class="col-lg-10 ">         
        </div>
        <!-- <div class="col-lg-2">
            <button class="EditBTN" data-toggle="modal" data-target="#exampleModal">Assign All</button>
        </div> -->
        <div class="col-lg-2">
            <button class="EditBTN" routerLink="/CustomerReport">Add</button>
        </div>
    </div> <br>


        <div class="row" >
            <div class="col-lg-12">
                <table class="table" id="download">
                    <thead>
                      
                            <th>Reply Ttle</th>
                            <th>Status</th>
                            <th>Category</th>
                            <th>Last Updated</th>
                            <th style="padding-left: 47px;">Actions</th>
                        <tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>What is support System?(sample)</td>
                          <td>Active</td>
                          <td>All Department</td>
                          <td>3-January-2022 11.20 AM</td>
                         
                          <td>
                            <label class="switch"><input type="checkbox" checked=""><span
                                    class="slider round"></span></label>
                        </td>
                      </tr>
                      <tr>
                        <td>What is Product Catalog?</td>
                        <td>Active</td>
                        <td>Support</td>
                        <td>3-April-2022 11.20 AM</td>
                       
                        <td>
                            <label class="switch"><input type="checkbox" checked=""><span
                                    class="slider round"></span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>How can I enable my account?</td>
                        <td>Active</td>
                        <td>Implementation of Road topping and Tendersure</td>
                        <td>7-April-2022 11.20 AM</td>
                       
                        <td>
                            <label class="switch"><input type="checkbox" checked=""><span
                                    class="slider round"></span></label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
</div>

