<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <p class="Heading">Staff Loading</p>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-3">
            <div class="card">
                <label>Highest Open Tickets : <b style="color: green;">Dhoni</b></label>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <label>Lowest Open Tickets : <b style="color: red;">Virat</b></label>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <Select class="form-control">
                    <option>Select Staff</option>
                    <option>Pramodh</option>
                    <option>Krishna</option>
                    <option>Virat</option>
                    <option>Peter</option>
                    <option>Dhoni</option>
                    <option>Zahir</option>
                </Select>
            </div>
        </div>
        <div class="col-lg-1" ><button class="form-control" data-toggle="collapse" data-target="#demo" >fetch</button></div>
    </div>
    <br>
    <!-- <div class="row">
        <div class="col-lg-12">
            <table class="table" id="exampleModal">
                <thead>
                <tr>
                  
                        <th>Open</th>
                        <th>Accepted</th>
                        <th>Resolved</th>
                        <th>Unresolved</th>
                        <th>OverDue</th>
                        <th>Closed</th>
                 
                </tr>
            </thead>
                <tr>
                    <td>10</td>
                    <td>8</td>
                    <td>4</td>
                    <td>4</td>
                    <td>2</td>
                    <td>2</td>
                </tr>
            </table>
        </div>
    </div> -->
    <br>
    <div class="row">
        <div class="col-lg-3">
            <p class="Heading">Ticket Details</p>
        </div>
    </div>
    <div id="demo" class="collapse">
        <div class="row">
            <div class="col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Open</p>
                        <p class="card-text text">122</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Accepted</p>
                        <p class="card-text text">22</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Resolved</p>
                        <p class="card-text text">4</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Overdue</p>
                        <p class="card-text text">10</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Closed</p>
                        <p class="card-text text">4</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>